<div class="card">
  <!-- <img class="card-img-top" src="http://i.imgur.com/ThslxBy.png"> -->
  <%= image_tag"http://i.imgur.com/ThslxBy.png", class: "img-fluid card-img-top" %>

  <div class="card-block">
    <h4 class="card-title"><%= user.username %></h4>
  </div>

  <% if province %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong><%= province.user_title %></strong> of <%= link_to province.name, province_url(province) %>
      </li>

      <% if province.nation %>
        <li class="list-group-item">
          <strong><%= province.nation_membership.member_title %></strong>
           of <%= link_to province.nation.name, nation_url(province.nation) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>