<div class="card">
  <!-- <img class="card-img-top" src="http://i.imgur.com/ThslxBy.png"> -->
  <%= image_tag"http://i.imgur.com/ThslxBy.png", class: "img-fluid card-img-top" %>

  <div class="card-block">
    <h4 class="card-title"><%= user.username %></h4>
    <p class="card-text">User</p>
  </div>

  <% if province %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= province.user_title %> of <%= link_to province.name, province_url(province) %>
      </li>

      <li class="list-group-item">Caesar of <%= link_to "Rome", '#' %></li>
    </ul>
  <% end %>

  <div class="card-block">
    <a href="#" class="card-link">Card link</a>
  </div>
</div>