<div class="card">
  <%#= image_tag "http://i.imgur.com/ThslxBy.png", class: "img-fluid card-img-top" %>
  <%= image_tag @user.avatar.url(:medium), class: "img-fluid card-img-top" %>

  <div class="card-block">
    <h4 class="card-title"><%= user.username %></h4>
    <% if current_user == user || current_user.admin? %>
      <%= link_to "Edit Profile", edit_user_url(user), class: "small" %>
    <% end %>
  </div>

  <% if province %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong><%= province.user_title %></strong> of <%= link_to province.name, province_url(province) %>
      </li>

      <% if province.nation %>
        <li class="list-group-item">
          <strong><%= province.nation_membership.member_title %></strong>
           of <%= link_to province.nation.name, nation_url(province.nation) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
