<div class="row">
  <div class="col-md-2">
    <%= render "card", nation: @nation %>
  </div>

  <div class="col-md-10">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to "Nation Info", nation_url(@nation), class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "Messageboard", messageboard_nation_url(@nation), class: "nav-link" %>
      </li>
    </ul>

    <div class="row">
      <div class="col-md-6">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/8/85/Cyclohexane_simple.svg", class: "img-fluid" %>
      </div>

      <div class="col-md-6">
        <% if current_user.nation_membership.nil? && current_user.has_applied_to_join?(@nation) %>
          <form action="<%= nation_memberships_url %>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="nation_membership[nation_id]" value="<%= @nation.id %>">

            <input type="submit" class="btn btn-primary" value="Join">
          </form>

          <hr>
        <% end %>

        <% @provinces.each do |province| %>
          <div class="card card-block">
            <p class="card-text"><%= province.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
