<% action_url = province.persisted? ? province_url(province) : provinces_url %>
<% method_value = province.persisted? ? "PATCH" : "POST" %>
<% submit_value = province.persisted? ? "Save Changes" : "Create Province" %>

<form action="<%= action_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%= method_value %>">

  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <div class="form-group">
        <label for="province_name" class="lead">Name</label>
        <input  type="text"
                name="province[name]"
                id="province_name"
                class="form-control"
                value="<%= province.name %>">
      </div>

      <div class="form-group">
        <label for="province_user_title" class="lead">Ruler Title</label>
        <input  type="text"
                name="province[user_title]"
                id="province_user_title"
                class="form-control"
                value="<%= province.user_title %>"
                placeholder="Caeser">
      </div>

      <div class="form-group">
        <label for="province_currency_name" class="lead">Currency</label>
        <select name="province[currency_name]"
                id="province_currency_name"
                class="form-control c-select">
          <option disabled <%= "selected" if @province.currency_name.nil? %>>
            Select a currency
          </option>

          <% Province::CURRENCY_NAMES.each do |name| %>
            <option value="<%= name %>" <%= "selected" if @province.currency_name == name %>>
              <%= name.capitalize %>
            </option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="col-md-4 col-md-offset-2">
      <div class="form-group">
        <label for="province_government_type" class="lead">Government Type</label>

        <% Province::GOVERNMENT_TYPES.each do |type, blurb| %>
          <div class="radio">
            <label for="province_government_type_<%= type %>">
              <input  type="radio"
                      name="province[government_type]"
                      id="province_government_type"
                      value="<%= type %>"
                      <%= "checked" if province.government_type == type %>>
              <%= type.capitalize %> - <%= blurb %>
            </label>
          </div>
        <% end %>
      </div>

      <div class="form-group">
        <label for="province_description" class="lead">Description</label>
        <textarea name="province[description]"
                  id="province_description"
                  rows="3"
                  class="form-control"><%= province.description %></textarea>
      </div>
    </div>
  </div>

  <div class="text-center">
    <input type="submit" class="btn btn-primary" value="<%= submit_value %>">
  </div>
</form>
