<div class="row">
  <div class="col-md-2">
    <%= render "card", province: @province %>
    <%= render "users/card", province: @province, user: @user %>
  </div>

  <div class="col-md-10">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/8/85/Cyclohexane_simple.svg", class: "img-fluid" %>
      </div>

      <div class="col-md-6">
        <p>Population: <%= @province.population %></p>
        <p>Infrastructure: <%= @province.infrastructure %></p>
        <p>Technology: <%= @province.technology %></p>
        <p>Treasury: <%= @province.money %> <%= @province.currency_name.pluralize %></p>
        <p>System of Governance: <%= @province.government_type.capitalize %></p>
        <p>Tax Rate: <%= @province.local_tax_rate %>%</p>
        <p>Resources: <%= @province.resource_1 %>, <%= @province.resource_2 %></p>
        <p>Description: <%= @province.description %></p>
      </div>
    </div>

    <hr>
  </div>

  <% if current_user != @user %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h4 class="text-center">Send a message to <%= @user.username %></h4>

        <%= render "messages/form", message: @message, recipient: @user, parent_message_id: nil %>
      </div>
    </div>
  <% end %>
</div>